        </main>
    </body>
    <footer class="mt-24 mb-8 text-center">
        <nav class="inline-block mx-auto">
            <div class="flex-wrap items-center justify-center block gap-1 text-sm sm:flex">
            <div class="flex items-center justify-center">
                <span>need to build something?</span>
                <a href="mailto:bart@fabrikage.nl?subject=Are%20you%20available%20for%20freelance%20work%3F&amp;body=Who%20are%20you%2C%20and%20how%20can%20I%20find%20you%20online%20(your%20website%2C%20LinkedIn%2C%20Twitter%2C%20etc)%3F%0D%0A%0D%0A%F0%9F%91%89%0D%0A%0D%0AWhat%20kind%20of%20software%20are%20you%20looking%20to%20build%3F%0D%0A%0D%0A%F0%9F%91%89%0D%0A%0D%0AWhere%20are%20you%20located%3F%0D%0A%0D%0A%F0%9F%91%89%0D%0A%0D%0AAnything%20else%20you'd%20like%20to%20share%3F%0D%0A%0D%0A%F0%9F%91%89" class="px-2 py-1 text-gray-900 underline dark:text-neutral-100" target="_blank" data-splitbee-event="Click hire button">hire me</a> 💡
            </div>
            </div>
        </nav>
        <div class="flex items-center justify-center mt-10"><a href="https://github.com/fabrikage/fabrikage.github.io" target="_blank" class="opacity-20 hover:opacity-30">view source</a></div>
    </footer>
</html>