<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% seo %}
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>

    <body class="font-mono text-gray-500 dark:text-gray-200 bg-gray-50 dark:bg-zinc-800">
        <a href="/" class="block mx-auto my-16 w-max">
            <span class="sr-only">home</span>
            <picture>
                <source srcset="{{ "/assets/img/logo-alt.svg" | relative_url }}" media="(prefers-color-scheme: dark)">
                <img src="{{ "/assets/img/logo.svg" | relative_url }}" alt="Fabrikage logo" class="mx-auto mb-10 w-60">
            </picture>
        </a>
        <header class="mt-8 mb-24">
            <a href="https://github.com/bartkleinreesink" target="_blank" class="relative inline-flex items-center justify-center w-auto gap-5 p-3 mx-auto text-left transition-all duration-75 -translate-x-1/2 rounded left-1/2 hover:bg-zinc-900">
                <img class="w-10 h-10 rounded" src="https://avatars.githubusercontent.com/u/28318911" alt="Default avatar">
                <h1 class="text-sm tracking-widest">
                    <span class="block">BART KLEIN REESINK</span>
                    <span class="block font-bold">php developer</span>
                </h1>
            </a>
            <!-- <h1 class="text-4xl font-bold text-center"> {{ page.title }}</h1>
            <p class="text-center"> {{ page.date | date_to_string }}</p> -->
        </header>
        <main class="max-w-screen-sm px-8 mx-auto font-mono">